@tailwind base;
@tailwind components;
@tailwind utilities;

body > #root  {
    height: 100vh;
}

body {
    height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    background-color: #d0df7d;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Kanit";
  src:local('Kanit'), url("../public/assets/fonts/Kanit/Kanit-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
    font-family: "Kanit";
    src:local('Kanit'), url("../public/assets/fonts/Kanit/Kanit-Light.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Kanit";
    src:local('Kanit'), url("../public/assets/fonts/Kanit/Kanit-Italic.ttf");
    font-weight: normal;
    font-style: italic;
}

* {
  font-family: 'Kanit', sans-serif;
  font-weight: bold;
}

.btn-primary {
    @apply shadow-black/25 shadow-lg px-4 py-2 rounded-2xl border-grass-800 border-2  bg-gradient-to-r from-grass-300  to-grass-500 font-light text-grass-2100 hover:bg-gradient-to-b hover:from-grass-900  hover:to-grass-700 hover:text-grass-100 active:scale-110 transition-all duration-100
}
